body{
  background-image: url("bgimg.png");
 
  background-size: 100% 150%;
  background-repeat: no-repeat;
  
  
}
div.black{
    background-color:rgba(0, 0, 0, 0.5);
    width:100%;
    height:200px;
    position: relative;
    top:300px;
   left:0%;
   right:0%;
   z-index: -1;
 

}
img.mainlogo{
    margin-left: 800px ;
    margin-top: 70px;
    z-index: 5;
   
    
}
button.getstarted{
   position: absolute;
   top:400px;
   left:150px;
    z-index: 5;
    border-radius: 30px;
    background-color:rgba(218, 212, 212, 0.7);
    border:2px solid white;
    font-size: 17px;
    padding: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
     color:blueviolet;
     text-decoration :none;

   
}
a{
    text-decoration: none;
}
